html {
  min-width: 1200px;
}


body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;

}

a {
  color: #ffffff;
  text-decoration: underline;
}

a:hover,
a:focus,
a:active {
  color: #ffbc9e;
}

img {
  max-width: 100%;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


 /*Button*/

.main-button {
  color: #fefefe;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border-radius: 50px;
  display: inline-block;
 }

.main-button:hover,
.main-button:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
}

.main-button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.btn {
  font: inherit;
  text-align: center;
  border: none;
  vertical-align: middle;
  display: inline-block;
}

.visually-hidden {
  padding: 0;
  margin: 0;
}


/*Header*/
.container-header {
  width: 1146px;
  margin: 0 auto;
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
  height: 100px;
}


.site-navigation {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation-catalog {
  list-style: none;
  font-weight: 700;
  padding: 0;
  margin: 0;
  display: flex; 
  flex-wrap: wrap;
}


.site-navigation-catalog > li {
  position: relative;
  display: block;
}

.site-navigation-catalog a {
  padding: 10px 14px;
  display: block;
}

.site-navigation-catalog a:hover,
.site-navigation-catalog a:focus {
  background-color: rgb(247, 246, 243);
  color: #333333;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 14px;
}

.site-navigation-catalog a:active {
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

.form-menu-catalog {
  list-style: none;
  position: absolute;
  background-color: #f8f7f4;
  width: 143px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;
  left: 1px;
  top: 49px;
  line-height: 16px;
  z-index: 3;
  display: none;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.form-menu-catalog li {
  margin: 0;
  padding: 0;
  display: block;
}

.form-menu-catalog a {
  color: #323232;
  text-decoration: none;
  padding: 13px 20px 10px 20px;
}

.site-navigation-catalog > li:hover .form-menu-catalog {
  display: block;
}


.form-menu-catalog li:first-child {
  font-weight: 700;
}

.form-menu-catalog li:first-child::after {
  content: "";
  width: 128px;
  position: absolute;
  left: 6px;
  right: 9px;
  border-bottom: 1px solid rgba(53,53,53, 0.2);
}

.form-menu-catalog li a:hover {
  background: #fbded7;
  border-radius: 0px;
  padding: 13px 20px 10px 20px;
}

.form-menu-catalog li a:active {
  background: #f6b5a5;
  border-radius: 0px;
}


.button-user {
  color: #ffffff;
  font-weight: 500;
}

.button-user:hover,
.button-user:focus {
  background-color: #ffffff;
  color: #323232;
}


.user-navigation {
  font-size: 14px;
  font-weight: 500;
  width: 560px;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  padding-top: 10px;
}


.button-user {
  background: rgba( 255, 255, 255, 0.2);
  font-size: 14px;
}

.search {
  margin-right: 10px;
  display: flex;
  position: relative;
  padding-bottom: 20px;
}

.button-search {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  position: relative;

}

.button-search::before {
  content: "";
  width: 21px;
  height: 19px;
  position: absolute;
  top: 7px;
  left: 8px;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-search:hover::before,
.button-search:focus::before,
.button-search:active::before {
  background-image: url("../img/search_hover.png");
}

.search-form {
  position: absolute;
  width: 341px;
  height: 84px;
  padding: 20px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f8f7f4;
  z-index: 100;
  top: 38px;
  right: 0;
  display: none;
}

.search-form input {
  width: 311px;
  height: 44px;
  padding-left: 14px;
  box-sizing: border-box;
  border-radius: 5px;
}

.search:hover .search-form {
  display: block;
  z-index: 100;
}

.login-link {
  display: flex;
  height: 32px;
  position: relative;
  margin-right: 10px;
  padding-bottom: 20px;
 }

.button-login {
  padding: 5px 16px 7px 45px;
  border-radius: 25px;
  position: relative;
}

.user-item {
  margin: 0;
}

.user-item input {
  font: inherit;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  border: 1px solid #d3d3d2;
}

.user-item input:hover,
.user-item input:focus {
  border: 2px solid rgba(154, 154, 154, 0.5);
}

.user-navigation .active {
  background-color: #f7f6f3;
  color: #323232;

}


/*Стили формы авторизщации и вспылвание*/

.autorization-form {
  width: 277px;
  height: 214px;
  padding: 24px 17px 22px 19px;
  background-color: #f8f7f4;
  position: absolute;
  border-radius: 5px;
  top: 38px;
  right: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 5;
  display: none;
}

.autorization-form p {
  margin: 0;
  margin-bottom: 20px
}

.autorization-form input {
  width: 241px;
  border-radius: 5px;
  height: 44px;
  box-sizing: border-box;
  padding-left: 14px;
}

.autorization-form button {
  width: 100px;
  height: 44px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-right: 17px;
  box-sizing: border-box;
  padding: 0;
}

.autorization-form-info {
  display: flex;

}

.form-autorization-link {
  display: flex;
  flex-wrap: wrap;
  width: 125px;
}

.form-autorization-link a {
  color: #323232;
  font-weight: 400;
  font-size: 13px;
}

.form-autorization-link a:hover,
.form-autorization-link a:focus,
.form-autorization-link a:active {
  color: #e84d37;
}

.login-link:hover .autorization-form {
  display: block;
}


/*------*/
.button-login::before {
  content: "";
  width: 21px;
  height: 19px;
  position: absolute;
  top: 7px;
  left: 16px;
  background-image: url("../img/enter.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-login:hover::before,
.button-login:focus::before,
.button-login:active::before {
  background-image: url("../img/enter_hover.png");
}

.btn-card {
  padding: 5px 16px 7px 45px;
  border-radius: 25px;
  position: relative;
}

.card-link {
  position: relative;
}


.card-link:hover .modal-cart {
  display: block;
}

.modal-cart {
  width: 540px;
  height: 242px;
  padding: 20px 16px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  top: 38px;
  border-radius: 5px;
  z-index: 1;
  box-sizing: border-box;
  display: none;
}

.card-info {
  width: 510px;
  border-bottom: 1px solid rgba(53,53,53, 0.2);
  display: flex;
  min-height: 111px;
  flex-wrap: wrap;
}


.cross-btn {
  position: relative;
  border: none;
  padding: 0;
  outline: none;
  margin-right: 26px;
  cursor: pointer;
}

.cross-btn::before {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  top: 12px;
  left: 0;
  background-image: url("../img/cross.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.card-jpg {
  border-radius: 50%;
  position: relative;
  margin-right: 14px;
  margin-bottom: 20px;
}

.modal-cart p {
  color: #323232;
  font-size: 13px;
  font-weight: 400;
  margin-top: 0;
  vertical-align: center;
  line-height: 16px;
  padding-top: 10px;
}

.card-name  {
  margin-right: 32px;
  width: 218px;
  line-height: 16px;
  font-size: 13px;
  font-weight: 400;
  color: #323232;
  text-decoration: none;
  display: block;
  align-self: flex-start;
}

.card-weight {
  margin-right: 29px;
}

.modal-cart span {
  color: #999999;
}

.card-total {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  width: 170px;
  flex-wrap: wrap;
}

.modal-cart b {
  margin-top: 17px;
  color: #323232;
  font-size: 15px;
  margin-bottom: 8px;
}

.btn-cart {
  width: 170px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 21px;
  margin-left: auto;
}

.btn-cart:hover {
  color: #ffffff;
}

.btn-card::before {
  content: "";
  width: 21px;
  height: 19px;
  position: absolute;
  top: 7px;
  left: 16px;
  background-image: url("../img/card.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .active::before {
  content: "";
  width: 21px;
  height: 19px;
  position: absolute;
  top: 7px;
  left: 16px;
  background-image: url("../img/card-active.png");

} 

.btn-card:hover::before,
.btn-card:focus::before,
.btn-card:active::before {
  background-image: url("../img/card-active.png");
}


.header-contacts {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-left: auto;
  text-align: right;
}

.header-contacts-number {
  font-size: 22px;
  font-weight: 700;
}

.header-contacts-number {
  text-decoration: none;
}


.main-header-inner {
  margin-bottom: 28px;
}


.main-navigation {
  min-height: 112px;
  display: flex;
  justify-content: center;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-right: 24px;
}


/*Slider*/

.slider {
  position: relative;
  
  padding-top: 321px;
  
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide {
  display: none;
}

.slider h2 {
   width: 700px;
  margin: 0 auto;
  margin-bottom: 27px; 
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider-controls label:hover {
  width: 17px;
  height: 17px;
  background-color: rgba(248,247,247,0.4);
}


.btn-slider {
  font-size: 32px;
  width: 278px;
  height: 63px;
  z-index: 1;
  margin-top: auto;
  cursor:pointer;
  text-decoration: none;
  line-height: 60px;
  text-align: center;
  vertical-align: top;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

#product-1:checked ~ .wrapper {
  background-color: #849d8f;
  background-image: url("../img/icecreamslider1.png");
}

#product-2:checked ~ .wrapper {
  background-color: #8996a6;
  background-image: url("../img/icecreamslider2.png");
}

#product-3:checked ~ .wrapper {
  background-color: #9d8b84;
  background-image: url("../img/icecreamslider3.png");
}

#product-1:checked ~ .wrapper #slide1,
#product-2:checked ~ .wrapper #slide2,
#product-3:checked ~ .wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .wrapper label[for="product-1"],
#product-2:checked ~ .wrapper label[for="product-2"],
#product-3:checked ~ .wrapper label[for="product-3"] {
  background-color: #ffffff;
}




/*Banner*/

.banner {
  display: flex;
  min-height: 230px;
  margin-bottom: 40px;
}

.banner-item {
  width: 560px;
  min-height: 229px;
  padding-top: 23px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  position: relative;
  border-radius: 20px;
}

.banner h2 {
  font-size: 35px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.banner p {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}


.raspberries-banner {
  background: #9a2a48 url("../img/raspberries-bg.jpg");
  margin-right: 26px;
}

.chocolate-banner {
  background: #482513 url("../img/chocolate-bg.jpg");
}

.button-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 45px;
}

.btn-banner {
  width: 165px;
  height: 46px;
  cursor:pointer;
  text-decoration: none;
  line-height: 46px;
}


/*popular-item*/

.inner-title {
  padding: 0;
  margin: 0;
}

.popular-item {
  display: flex;
  justify-content: space-between;

}

.item-list {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.item-list-inner {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  font-size: 16px;
}


.item-list div:nth-child(4n) {
  margin-right: 0;
}

.item-list-inner div:nth-child(4n) {
  margin-right: 0;
}

.popular-item-description {
  width: 267px;
  margin-right: 26px;
  margin-bottom: 40px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  min-height: 323px;
  position: relative;
}

.item-list .popular-item-description::after{
  content: ""; 
  position: absolute;
  top: 0px;
  left: 0px;  
  width: 61px;
  height: 61px;  
  background-image: url("../img/hit-mark.png");
  z-index: 11;
}


.item-hover {
  position: relative;
  z-index: 11;
}


.item-list h3 {
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  z-index: 5;
  display: block;
  text-decoration: none;
  margin-left: 9px;
  margin-right: -1px;
  margin-bottom: 10px;
  background-position: 0 95%;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}

.item-list-inner h3 {
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.item-list p {
  font-size: 45px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.item-list-inner p {
  font-size: 45px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.item-list span {
  font-size: 30px;
}

.item-list img {
  margin-bottom: 20px;
  border-radius: 50%;
}

.item-list-inner img {
  margin-bottom: 20px;
  border-radius: 50%;
}


.price-item {
  text-decoration: none;
  position: absolute;
  left: 0px;
  top: 209px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  white-space: nowrap;
}

.popular-item-weight {
  position: relative;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  letter-spacing: 1px;
}

.button-item-hover {
  display: none;
  position: absolute;
  bottom: -55px;
  left: 13%;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 17px;
  padding-right: 18px;
  border-radius: 24px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.button-item-hover:hover {
  color: #ffffff;
}

.popular-item-description:hover {
  z-index: 100;
}


.popular-item-description:hover .button-item-hover, .popular-item-description:hover::before {
  display: block;
}


.popular-item-description::before {
  display: none;
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -65px;
  background-color: rgba(248, 247, 244, 0.3);
  transition: background-color .5s ease;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 20px 20px rgba(50, 50, 50, 0.3);
  padding-bottom: 20px;
}


/*About company*/


.about-company {
  min-height: 266px;
  padding: 20px 30px;
  margin-bottom: 40px;
  color: #323232;
  background: #ede2c7 url(../img/icecream-bg.jpg);
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
}

.about-block {
  width: 515px;
  position: relative;
  margin-right: 26px;
  padding-top: 16px;
  padding-left: 57px;
  box-sizing: border-box;

}

.about-company b {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 14px;
}

.about-block p {
  font-weight: 400;
  padding: 0;
  margin: 0;
  position: relative;
  width: 483px;
}


.about-block-1::before {
  position: relative;
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/icecream-about.png");
  left: 0;
}

.about-block-2::before {
  position: relative;
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/cow-about.png");
  left: 0;
}

.about-block-3::before {
  position: relative;
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/leaf-about.png");
  left: 0;
}

.about-block-4::before {
  position: relative;
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  background-image: url("../img/thermometr-about.png");
  left: 0;
}



/*Blog*/

.index-columns {
  display: flex;
  margin-bottom: 40px;
}

.blog-new {
  width: 560px;
  min-height: 220px;
  color: #323232;
  background: #ffffff url(../img/news-bg.jpg) center left no-repeat;
  margin-right: 26px;
  padding: 22px 0px 0px 20px;
  border-radius: 20px;
  box-sizing: border-box;
}

.blog-new-category {
  font-weight: 500;
  margin: 0;
}

.blog-new h1 {
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  margin: 0;
  line-height: 30px;
  color: #323232;
}

/*Dispatch*/

.dispatch {
  width: 560px;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  background: url(../img/mail-bg.png) no-repeat;
  box-sizing: border-box;
  padding: 5px;
}

.dispatch-inner {
  background-color: #f8f7f4;
  width: 548px;
  min-height: 142px;
  z-index: 1;
  padding: 30px 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.dispatch p{
  color: #5a5a5a;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
}

.dispatch-submit {
  display: flex;
  box-sizing: content-box;
}


.dispatch input {
  font-size: 16px;
  color: #999999;
  font-weight: 400;
  width: 368px;
  height: 44px;
  padding: 14px 207px 14px 14px;
  box-sizing: border-box;
  margin-right: 11px;
}

.dispatch input:hover,
.dispatch input:focus {
  border: 2px solid rgba(154, 154, 154, 0.5);
}

.button-submit {
  width: 128px;
  height: 43px;
  display: flex;
  box-sizing: border-box;
  margin-right: auto;
  justify-content: center;
  cursor:pointer;

}

/*Contacts*/

.contacts {
  color: #323232;
  background-color: #fefefe;
  width: 252px;
  height: 241px;
  padding: 32px 25px;
  position: absolute;
  top: 62px;
  right: 184px;
}

.contacts-first {
  margin-bottom: 27px;
}

.contacts-second {
  margin-bottom: 30px;
}


.contacts p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.contacts-main {
  font-size: 18px;
  font-weight: 700;
}

.btn-form-contacts {
  width: 251px;
  height: 43px;
  cursor: pointer;
  line-height: 43px;
  text-decoration: none;
}



/*Footer*/

.container-footer {
  width: 1146px;
  margin: 0 auto;
  display: flex;
}

.main-footer {
  min-height: 104px;
  display: flex;
  margin-top: 49px;
}

.footer-social {
  width: 268px;
  margin-right: 26px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.social-button { 
  width: 37px;
  height: 37px;
  display: inline-block;
  width: 37px;
  height: 37px;
  margin-right: 12px;
  position: relative;
  opacity: 0.8;
}


.twitter::before {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  background-image: url(../img/twitter.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
  border-radius: 50%;
  border: 4px solid rgba(255,255,255,0.5);
}

.instagramm::before {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  background-image: url(../img/instagramm.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
  border-radius: 50%;
  border: 4px solid rgba(255,255,255,0.5);
}

.facebook::before {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  background-image: url(../img/facebook.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
  border-radius: 50%;
  border: 4px solid rgba(255,255,255,0.5);
}

.vkontakte::before {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  background-image: url(../img/vk.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  top: 0; 
  left: 0; 
  bottom: 0; 
  right: 0;
  border-radius: 50%;
  border: 4px solid rgba(255,255,255,0.5);
}

.social-button:hover {
  opacity: 1;
  border-radius: 50%;
  border-color: rgba(255,255,255,0.7);
}

.social-button:active::before {
  box-shadow: inset 0px 2px 2px 0px #888888;
}


.footer-menu {
  margin: 0;
  list-style: none;
  width: 560px;
  height: 48px;
  margin-right: 26px;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.footer-menu a {
  font-size: 13px;
  font-weight: 400;
}

.footer-menu li {
  padding-right: 24px;
}

.footer-menu li:first-of-type a {
  font-weight: 700;
  position: relative;
  display: block;
}

.footer-menu li:first-of-type a::before {
  content: "";
  width: 15px;
  height: 13px;
  top: 4px;
  left: -21px;
  position: absolute;
  background-image: url(../img/heart.png);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-menu li:hover .footer-menu li::before {
  display: block;
}


.footer-copyright {
  width: 268px;
  margin: 0;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
}

 .footer-copyright a {
  align-self: center;
}

.footer-copyright img {
  width: 125px;
  height: 39px;
}

.footer-copyright-text {
  margin: 0;
  align-self: flex-end;
}


.footer-social a {
  text-decoration: none;
}




/*Modal*/

.modal {
  background-color: #f8f7f4;
}

.modal h2 {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  margin: 0;
}

.modal-feedback {
  display: flex;
  width: 428px;
  height: 422px;
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 25px;
  border-radius: 10px;
  display: none;
}

.form-feedback {
  display: flex;
  flex-direction: column;
}

.form-feedback p {
  margin: 0;
}

.form-feedback input {
  font: inherit;
  font-size: 16px;
  font-weight: 400;
  color: #999999;
  border: 1px solid rgba(178, 178, 178, 0.5);
  margin-bottom: 20px;
  padding: 15px 0 15px 14px;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-feedback input[type="text"],
 .form-feedback input[type="email"] {
  width: 267px;
  height: 44px;
}

.form-feedback textarea  {
  width: 428px;
  height: 155px;
  margin-bottom: 25px;
  border-radius: 5px;
}

.modal-close {
  align-self: flex-end;
  display: flex;
}

.form-feedback label {
  font-size: 10px;
  color: black;
}

.form-feedback input:hover,
.form-feedback input:focus {
  border: 2px solid rgba(154, 154, 154, 0.5);
}

.form-feedback textarea {
  font: inherit;
  font-size: 16px;
  font-weight: 400;
  color: #999999;
  border: 1px solid rgba(178, 178, 178, 0.5);
  padding-top: 13px;
  padding-left: 14px;
  box-sizing: border-box;
}

.form-feedback textarea:hover,
.form-feedback textarea:focus {
  border: 1px solid rgba(178, 178, 178, 0.5);
}

.btn-submit {
  text-decoration: none;
  width: 138px;
  height: 43px;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.btn-submit:hover,
.btn-submit:focus {
  color: #fefefe;
}




/*------------------*/

/*Catalog*/

.catalog-content h1 {
  font-size: 35px;
  font-weight: 700;
}

.breadcrums-catalog {
  display: flex;
  align-items: flex-end;
}


.breadcrums-catalog ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrums-catalog li {
  font-size: 14px;
  font-weight: 400;
  display: block;
  padding-right: 22px;
  position: relative;
}

.breadcrums-catalog li:not(:last-child)::after {
  content: "»";
  position: absolute;
  color: #ffffff;
  right: 8px;
}

.breadcrums-catalog li:last-child a{
  text-decoration: none;
}

/*Filters*/


.filters {
  width: 861px;
  margin-top: 34px;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filters p {
  margin: 0;
}


.filters legend {
  font-size: 14px;
  font-weight: 500;
  font: inherit;
  display: block;
  margin-bottom: 7px;
  margin-left: 16px;
}

.filters input {
  font: inherit;
  font-size: 16px;
  font-weight: 500;
}


.search-wrap {
  background-color: rgba(255, 255, 255, 0.2);
  height: 36px;
  box-sizing: border-box;
  border-radius: 24px;
  padding: 7px 18px 7px 18px;
} 


.sort-list {
  width: 193px;
  display: flex;
  position: relative;
}

.sort-list option {
  background-color: transparent;
}

.sort-list select {
  background: transparent;
  border: 0;
  font: inherit;
  color: #ffffff;
  appearance: none;
  -webkit-appearance: none;  
  -moz-appearance: none;
  position: relative;
  display: block;
  padding-right: 25px;
}

.sort-list::after {
  content: "▼";
  font-size: 12px;
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
  right: 14px;
  pointer-events: none;
}

.sort-list select:hover {
  color: #323232;
  font-weight: 500;
  border: none;
}

.sort-list:hover {
  color: #323232;
  font-weight: 500;
  border: none;
}


.filters-wrap:not(:nth-child(4)) {
  margin-bottom: 18px;
}


.fat-list {
  width: 414px;
}

.fat-list label {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin-right: 15px;
}

.fat-list input[type="radio"] {
  display: none;
}

.fat-list label::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  border-radius: 50%;
  border: 4px solid rgba(255,255,255,0.8);
  box-sizing: border-box;
}

.fat-list input[type="radio"] + label:hover::before {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 4px solid rgba(255,255,255,1);
}


.fat-list input[type=radio]:checked + label:before {
  content: "\2022";
  color: rgba(255,255,255,0.8);
  font-size: 30px;
  text-align: center;
  line-height: 15px;
}

.fat-list input[type=radio]:checked + label:hover:before {
  content: "\2022";
  color: rgba(255,255,255,1);
  font-size: 30px;
  text-align: center;
  line-height: 15px;
}

.filler-list {
  width: 702px;
}

.filler-list label {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin-right: 15px;

}

.filler-list input[type=checkbox] {
  display: none;
}

.filler-list label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  border-radius: 2px;
  border: 2px solid rgba(255,255,255,0.8);
  box-sizing: border-box;
}

.filler-list  input[type=checkbox]:checked + label:before {
  content: "\2714";
  color: rgba(255,255,255,0.8);
  font-size: 20px;
  text-align: center;
  line-height: 15px;
}

.filler-list input[type=checkbox] + label:hover:before {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(255,255,255,1);
}

.filler-list  input[type=checkbox]:checked + label:hover:before {
  content: "\2714";
  color: rgba(255,255,255,1);
  font-size: 20px;
  text-align: center;
  line-height: 15px;
}



/*Сортировка по цене*/

.range-wrap p {
  display: block;
  margin-bottom: 7px;
  margin-left: 16px;
}

.range-sort {
  width: 218px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.skroll_field {
  width: 176px;
  height: 5px;
  position: relative;
  background-color: rgba(248, 247, 244,.5);
}
.skroll_field_center {
  background-color: #f8f7f4;
  height: 5px;
  width: 106px;
  z-index: 1;
  position: absolute;
  left: 37px;
}

.skroll_left,
.skroll_right {
  position: absolute;
  display: block;
  width: 20px;
  background: #fff;
  height: 20px;
  border-radius: 10px;
  z-index: 2;
  border: none;
  background: #abbcb2;
  border: 8px solid #ffffff;
  padding: 0;
}

.skroll_left {
  left: 34px;
}

.skroll_right {
  right: 60px;
}

.skroll_left,
.skroll_right {
  cursor: pointer;
}

.skroll_left:hover,
.skroll_right:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/*Filters-button*/
.button-filter {
  color: #ffffff;
  background: rgba( 252, 252, 252, 0.2);
  border: 2px solid #ffffff;
  border-radius: 24px;
  width: 143px;
  height: 36px;
  margin-top: auto;
  font-weight: 500;
}

.button-filter:hover,
.button-filter:focus {
  background-color: #fbfcfb;
  color: #323232;
}

.button-filter:active {
  border: none;;
  box-shadow: inset 0 2px 1px #696969;
  line-height: 36px;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
}

.pagination-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}


.pagination-number {
  width: 25px;
  height: 25px;
  margin-right: 3px;
  text-align: center;
  position: relative;
 }
 
.pagination a {
  text-decoration: none;
}

.pagination .active {
  border-radius: 50%;
  background-color: #ffffff;
  font-weight: 500;
  position: relative;
 }

.pagination .active::before {
  content: "";
  width: 8px;
  height: 12px;
  position: absolute;
  top: 5px;
  left: -25px;
  background-image: url("../img/icon-right-small.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.pagination li:last-child:after  {
  content: "";
  width: 8px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: -25px;
  background-image: url("../img/icon-right-small-2.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}


.pagination .active a {
  color: #323232;
}

.pagination .active:hover {
  border-radius: 50%;
  background-color: #ffffff;
}

.pagination .active a:hover{
  color: #323232;
}

.pagination-list li:hover,
.pagination-list li:focus   {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.pagination-list a:hover {
  color: #ffffff;
}


/*Сеточные блоки*/


.container {
  width: 1146px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.wrapper::before,
.wrapper::after {
  content: "";

  visibility: hidden;
}

.wrapper::before {
  background-image: url("img/icecreamslider12.png");
}

.wrapper::after {
  background-image: url("img/icecreamslider3.png");
}

.wrapper {
  min-width: 940px;
  margin: 0 auto;
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(../img/icecreamslider1.png);
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.wrapper-inner {
  min-width: 940px;
  margin: 0 auto;
  background-color: #849d8f;
}


.map {
  width: 100%;
  height: 430px;
  margin: 0px auto;
  position: relative;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #e9e1c2;
}

